{:require          [postal-messenger.app.core]
 :init-fns         [postal-messenger.app.core/main]
 :compiler-options {:optimizations :none
                    :externs       ["externs.js" "react.ext.js" "react.native.ext.js"]}}
